{% extends "tcc/base.html" %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% load i18n admin_static thumbnail rules tcc %}
{% block bodyclass %}sidebar-top fixed-topbar fixed-sidebar theme-sdtl color-default{% endblock %}

{% block body %}
  <!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <section>
          <!-- BEGIN SIDEBAR -->
          <div class="sidebar">
            <div class="logopanel">
              <h1>
                <a href="/"></a>
              </h1>
            </div>
            <div class="sidebar-inner">
              <ul class="nav nav-sidebar">
                <li class="{% active 'dashboard' %}">
                  <a href="{% url 'dashboard' %}">
                    <i class="icon-home"></i>
                    <span>{% trans 'Dashboard' %}</span>
                  </a>
                </li>
                <li class="{% active 'profile' %}{% active 'collaborator_list' %}">
                  <a href="{% url 'collaborator_list' %}">
                    <i class="icon-user"></i>
                    <span>{% trans 'Collaborators' %}</span>
                  </a>
                </li>
                <li class="{% active 'team' %}{% active 'team_list' %}">
                  <a href="{% url 'team_list' %}">
                    <i class="icon-users"></i>
                    <span>{% trans 'Teams' %}</span>
                  </a>
                </li>
                <li class="nav-parent {% active '/team-members-feedback/' %}{% active 'satisfaction_questionnaire' %}{% active '/task-feedback/' %}{% active '/team-task-feedback/' %}{% active '/manager-to-collaborator/' %}">
                  <a href="#">
                    <i class="octicon octicon-flame"></i>
                    <span>{% trans 'Feedback' %}</span>
                    <span class="fa arrow"></span>
                  </a>
                  <ul class="children collapse">
                    {% test_rule 'can_answer_satisfaction_quiz' user as can_answer_satisfaction_quiz %}
                    {% if can_answer_satisfaction_quiz %}
                      <li class="{% active 'satisfaction_questionnaire' %}">
                        <a href="{% url 'satisfaction_questionnaire' %}"> {% trans 'Satisfaction quiz' %}</a>
                      </li>
                    {% endif %}
                    <li class="{% active '/task-feedback/' %}">
                      <a href="{% url 'task_questionnaire' %}"> {% trans ' Task feedback' %}</a>
                    </li>
                    <li class="{% active '/team-task-feedback/' %}">
                      <a href="{% url 'team_task_questionnaire' %}"> {% trans ' Team task feedback' %}</a>
                    </li>
                    {% test_rule 'can_give_progress_feedback' user as can_give_progress_feedback %}
                    {% if can_give_progress_feedback %}
                      <li class="{% active '/manager-to-collaborator/' %}">
                        <a href="{% url 'manager_to_collaborator_questionnaire' %}"> {% trans 'Progress feedback' %}</a>
                      </li>
                    {% endif %}
                  </ul>
                </li>
                <li class="nav-parent">
                  <a href="#">
                    <i class="icon-bar-chart"></i>
                    <span>{% trans 'Reports' %}</span>
                    <span class="fa arrow"></span>
                  </a>
                  <ul class="children collapse">
                    <li><a href="page-builder/index.html"> Page</a></li>
                    <li><a href="ecommerce-pricing-table.html"> Pricing Table</a></li>
                  </ul>
                </li>
              </ul>
              <div class="sidebar-footer clearfix">
                <a class="pull-left footer-settings" href="#" data-rel="tooltip" data-placement="top" data-original-title="Settings">
                <i class="icon-settings"></i></a>
                <a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top" data-original-title="Fullscreen">
                <i class="icon-size-fullscreen"></i></a>
                <a class="pull-left" href="#" data-rel="tooltip" data-placement="top" data-original-title="Lockscreen">
                <i class="icon-lock"></i></a>
                <a class="pull-left btn-effect" href="#" data-modal="modal-1" data-rel="tooltip" data-placement="top" data-original-title="Logout">
                <i class="icon-power"></i></a>
              </div>
            </div>
          </div>
          <!-- END SIDEBAR -->
          <div class="main-content">
            <!-- BEGIN TOPBAR -->
            <div class="topbar">
              <div class="header-right">
                <ul class="header-menu nav navbar-nav">
                  <li class="dropdown" id="language-header">
                    <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="icon-globe"></i>
                    <span>{% trans 'Language' %}</span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="{% url 'set_language'%}?language=en-au" data-lang="en">
                          <img
                            src="{% static "admin/global/images/flags/australia.png" %}"
                            alt="flag-english"> <span>English (AU)</span>
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'set_language'%}?language='es" data-lang="es">
                          <img
                            src="{% static "admin/global/images/flags/spanish.png" %}"
                            alt="flag-english"> <span>Español</span>
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'set_language'%}?language=pt-br" data-lang="fr">
                          <img
                            src="{% static "admin/global/images/flags/brazil.png" %}"
                            alt="flag-english"> <span>Português</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  {% if not user.is_staff %}
                    <li id="language-header">
                      <a href="#">
                        <i class="fa fa-bolt"></i>
                        <span>{{ user.employee.energy }}</span>
                      </a>
                    </li>
                    <li id="language-header">
                      <a href="{% url 'shop' %}">
                        <i class="fa fa-diamond"></i>
                        <span>D$ {{ user.employee.money }}</span>
                      </a>
                    </li>
                    <li id="language-header">
                      <a href="{% url 'shop' %}">
                        <i class="icon-basket"></i>
                        <span>Shop</span>
                      </a>
                    </li>
                  {% endif %}
                  <!-- BEGIN USER DROPDOWN -->
                  <li class="dropdown" id="user-header">
                    <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    {% thumbnail user.employee.avatar "36x36" crop="center" as im %}
                      <img src="{{ im.url }}">
                    {% endthumbnail %}
                    <span class="username">
                      {% block welcome-msg %}
                        {% trans 'Hi,' %}
                        {{ user.employee }}
                      {% endblock %}
                    </span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="{% url 'update_profile' %}"><i class="icon-user"></i><span>{% trans 'Update profile' %}</span></a>
                      </li>
                      <li>
                        <a href="{% url 'password_change' %}"><i class="icon-lock"></i><span>{% trans 'Change password' %}</span></a>
                      </li>
                      <li>
                        <a href="{% url 'logout' %}"><i class="icon-logout"></i><span>{% trans 'Logout' %}</span></a>
                      </li>
                    </ul>
                  </li>
                  <!-- END USER DROPDOWN -->
                  <!-- CHAT BAR ICON -->
                  {% if user.is_staff %}
                    <li id="quickview-toggle"><a href="#"><i class="icon-settings"></i></a></li>
                  {% endif %}
                </ul>
              </div>
              <!-- header-right -->
            </div>
            <!-- END TOPBAR -->
            <!-- BEGIN PAGE CONTENT -->
            <div class="page-content m-b-100{% block content_classes %}{% endblock %}">
              {% block content %}{% endblock %}
            </div>
            <div class="footer">
              <div class="copyright">
                <p class="pull-left sm-pull-reset">
                  <span>Copyright <span class="copyright">©</span> 2015 </span>
                  <span>THEMES LAB</span>.
                  <span>All rights reserved. </span>
                </p>
                <p class="pull-right sm-pull-reset">
                  <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
                </p>
              </div>
            </div>
            <div class="hidden notifications">
              {% if messages %}
                {% for message in messages %}
                  <div class="alert media fade in bd-0" data-notification data-notification-type="{{ message.tags }}">
                    <div class="media-body width-100p">
                      <p class="f-12 alert-message pull-left">{{ message|safe }}</p>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
            <!-- END PAGE CONTENT -->
          </div>
          <!-- END MAIN CONTENT -->
        </section>

  <!-- BEGIN QUICKVIEW SIDEBAR -->
      <div id="quickview-sidebar">
        <div class="quickview-header">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#settings" data-toggle="tab" class="settings-tab">Settings</a></li>
          </ul>
        </div>
        <div class="quickview">
          <div class="tab-content">
            {% include 'tcc/_settings_tab.html' %}
          </div>
        </div>
      </div>
      <!-- END QUICKVIEW SIDEBAR -->
      <!-- BEGIN SEARCH -->
      <div id="morphsearch" class="morphsearch">
        <form class="morphsearch-form">
          <input class="morphsearch-input" type="search" placeholder="Search..."/>
          <button class="morphsearch-submit" type="submit">Search</button>
        </form>
        <div class="morphsearch-content withScroll">
          <div class="dummy-column user-column">
            <h2>Users</h2>
            <a class="dummy-media-object" href="#">
              <img src="{% static "admin/global/images/avatars/avatar1_big.png" %}" alt="Avatar 1"/>
              <h3>John Smith</h3>
            </a>
            <a class="dummy-media-object" href="#">
              <img src="{% static "admin/global/images/avatars/avatar2_big.png" %}" alt="Avatar 2"/>
              <h3>Bod Dylan</h3>
            </a>
            <a class="dummy-media-object" href="#">
              <img src="{% static "admin/global/images/avatars/avatar3_big.png" %}" alt="Avatar 3"/>
              <h3>Jenny Finlan</h3>
            </a>
            <a class="dummy-media-object" href="#">
              <img src="{% static "admin/global/images/avatars/avatar4_big.png" %}" alt="Avatar 4"/>
              <h3>Harold Fox</h3>
            </a>
            <a class="dummy-media-object" href="#">
              <img src="{% static "admin/global/images/avatars/avatar5_big.png" %}" alt="Avatar 5"/>
              <h3>Martin Hendrix</h3>
            </a>
            <a class="dummy-media-object" href="#">
              <img src="{% static "admin/global/images/avatars/avatar6_big.png" %}" alt="Avatar 6"/>
              <h3>Paul Ferguson</h3>
            </a>
          </div>
          <div class="dummy-column">
            <h2>Articles</h2>
            <a class="dummy-media-object" href="#">
              <img src="{% static "admin/global/images/gallery/1.jpg" %}" alt="1"/>
              <h3>How to change webdesign?</h3>
            </a>
            <a class="dummy-media-object" href="#">
              <img src="{% static "admin/global/images/gallery/2.jpg" %}" alt="2"/>
              <h3>News From the sky</h3>
            </a>
            <a class="dummy-media-object" href="#">
              <img src="{% static "admin/global/images/gallery/3.jpg" %}" alt="3"/>
              <h3>Where is the cat?</h3>
            </a>
            <a class="dummy-media-object" href="#">
              <img src="{% static "admin/global/images/gallery/4.jpg" %}" alt="4"/>
              <h3>Just another funny story</h3>
            </a>
            <a class="dummy-media-object" href="#">
              <img src="{% static "admin/global/images/gallery/5.jpg" %}" alt="5"/>
              <h3>How many water we drink every day?</h3>
            </a>
            <a class="dummy-media-object" href="#">
              <img src="{% static "admin/global/images/gallery/6.jpg" %}" alt="6"/>
              <h3>Drag and drop tutorials</h3>
            </a>
          </div>
          <div class="dummy-column">
            <h2>Recent</h2>
            <a class="dummy-media-object" href="#">
              <img src="{% static "admin/global/images/gallery/7.jpg" %}" alt="7"/>
              <h3>Design Inspiration</h3>
            </a>
            <a class="dummy-media-object" href="#">
              <img src="{% static "admin/global/images/gallery/8.jpg" %}" alt="8"/>
              <h3>Animals drawing</h3>
            </a>
            <a class="dummy-media-object" href="#">
              <img src="{% static "admin/global/images/gallery/9.jpg" %}" alt="9"/>
              <h3>Cup of tea please</h3>
            </a>
            <a class="dummy-media-object" href="#">
              <img src="{% static "admin/global/images/gallery/10.jpg" %}" alt="10"/>
              <h3>New application arrive</h3>
            </a>
            <a class="dummy-media-object" href="#">
              <img src="{% static "admin/global/images/gallery/11.jpg" %}" alt="11"/>
              <h3>Notification prettify</h3>
            </a>
            <a class="dummy-media-object" href="#">
              <img src="{% static "admin/global/images/gallery/12.jpg" %}" alt="12"/>
              <h3>My article is the last recent</h3>
            </a>
          </div>
        </div>
        <!-- /morphsearch-content -->
        <span class="morphsearch-close"></span>
      </div>
      <!-- END SEARCH -->
      <!-- BEGIN PRELOADER -->
      <div class="loader-overlay">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
      <!-- END PRELOADER -->
      <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static "admin/global/css/sweetalert.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "admin/global/plugins/input-text/style.min.css" %}" />
{% endblock %}
{% block extrascript %}

<script src="{% static "admin/global/plugins/jquery-block-ui/jquery.blockUI.min.js" %}"></script> <!-- simulate synchronous behavior when using AJAX -->
<script src="{% static "admin/global/plugins/jquery-cookies/jquery.cookies.min.js" %}"></script> <!-- Modal with Validation -->
<script src="{% static "admin/global/plugins/bootbox/bootbox.min.js" %}"></script> <!-- Modal with Validation -->
<script src="{% static "admin/global/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js" %}"></script> <!-- Custom Scrollbar sidebar -->
<script src="{% static "admin/global/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js" %}"></script> <!-- Show Dropdown on Mouseover -->
<script src="{% static "admin/global/plugins/charts-sparkline/sparkline.min.js" %}"></script> <!-- Charts Sparkline -->
<script src="{% static "admin/global/plugins/retina/retina.min.js" %}"></script> <!-- Retina Display -->
<script src="{% static "admin/global/plugins/select2/select2.min.js" %}"></script> <!-- Select Inputs -->
<script src="{% static "admin/global/plugins/icheck/icheck.min.js" %}"></script> <!-- Checkbox & Radio Inputs -->
<script src="{% static "admin/global/plugins/backstretch/backstretch.min.js" %}"></script> <!-- Background Image -->
<script src="{% static "admin/global/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js" %}"></script> <!-- Animated Progress Bar -->
<script src="{% static "admin/global/plugins/charts-chartjs/Chart.min.js" %}"></script>
<script src="{% static "admin/global/plugins/noty/jquery.noty.packaged.min.js" %}"></script>
<script src="{% static "admin/global/plugins/bootstrap-slider/bootstrap-slider.js" %}"></script> <!-- Bootstrap Input Slider -->
<script src="{% static "admin/global/js/builder.js" %}"></script> <!-- Theme Builder -->
<script src="{% static "admin/global/js/sidebar_hover.js" %}"></script> <!-- Sidebar on Hover -->
<script src="{% static "admin/global/js/application.js" %}"></script> <!-- Main Application Script -->
<script src="{% static "admin/global/js/plugins.js" %}"></script> <!-- Main Plugin Initialization Script -->
<script src="{% static "admin/global/js/widgets/notes.js" %}"></script> <!-- Notes Widget -->
<script src="{% static "admin/global/js/quickview.js" %}"></script> <!-- Chat Script -->
<script src="{% static "admin/global/js/pages/search.js" %}"></script> <!-- Search Script -->
<script src="{% static "admin/global/js/sweetalert.min.js" %}"></script> <!-- Sweetalert Plugin -->
<script src="{% static "admin/global/js/widgets/product.js" %}"></script> <!-- Sweetalert Plugin -->
<script src="{% static "admin/global/js/widgets/notifications.js" %}"></script> <!-- Sweetalert Plugin -->
<script src="{% static "admin/layout1/js/layout.js" %}"></script>
{% endblock %}
