{% extends "questionnaire/_form.html" %}
{% load i18n %}
{% block questionnaire_form %}
  {{ block.super }}
  <div class="form-group" style="width:350px; margin-left: auto; margin-right: auto; text-align: center">
    <h3>{% trans 'Which task will you give your feedback to?' %}</h3>
    {{ form.description }}
    {% if form.description.errors %}
        {% for error in form.description.errors %}
          <div class="text-center form-error">{{ error|escape }}</div>
        {% endfor %}
    {% endif %}
  </div>
{% endblock %}
