{% load thumbnail %}
<div class="panel panel-transparent panel-profil">
  <div class="panel-body p-10">
    <div class="text-center col-xs-4">
      {% thumbnail employee.avatar "200x200" crop="center" as im %}
        <img src="{{ im.url }}" class="img-circle img-responsive m-t-20">
      {% endthumbnail %}
    </div>
    <div class="clearfix col-xs-8">
      <h2 class="c-dark w-600">{{ employee }}</h2>
      <p class="c-gray f-16">{{ employee.occupation }}</p>
      <p class="c-gray"><i class="fa fa-envelope p-r-10"></i> {{ employee.user.email }}</p>
      <p class="c-gray"><i class="icon-present p-r-10"></i> {{ employee.date_of_birth }}</p>
      <p class="c-gray"><i class="icon-calendar p-r-10"></i> {{ employee.hiring_date }}</p>

    </div>
  </div>
  <div class="panel-footer p-t-0 p-b-0">
    <div class="row">
      <div class="col-xs-4 bg-blue p-20">
        <div class="text-center m-b-10">
          <i class="f-24 fa fa-trophy"></i>
        </div>
        <div class="text-center f-16">
          {{ employee.points }}
        </div>
      </div>
      <div class="col-xs-4 bg-purple p-20">
        <div class="text-center m-b-10">
          <i class="f-26 octicon octicon-flame"></i>
        </div>
        <div class="text-center f-16">
          {{ employee.feedbacks }}
        </div>
      </div>
      <div class="col-xs-4 bg-primary p-20">
        <div class="text-center m-b-10">
          <i class="f-24 fa fa-diamond"></i>
        </div>
        <div class="text-center f-16">
          D$ {{ employee.money }}
        </div>
      </div>
    </div>
  </div>
</div>
