{% load i18n thumbnail %}
<div class="panel widget-member">
  <div class="control-btn">
    {% include 'tcc/widgets/_user_options.html' with dropdown_name='dropdownMenu1' employee=employee %}
  </div>
  <div class="panel-content">
    <div class="pull-left p-r-10" style="max-width: 70px;">
      <a href="{% url 'profile' employee.pk %}">
        {% thumbnail employee.avatar "60x60" crop="center" as im %}
          <img src="{{im.url}}" class="img-responsive" alt="{{employee}}">
        {% endthumbnail %}
      </a>
    </div>
    <div>
      <h4 class="c-dark">
        {% if ranking <= 3 %}
          <i class="fa fa-trophy {% if ranking == 1 %}gold{% elif ranking == 2 %}silver{% else %}bronze{% endif %}"></i>
        {% else %}
          {{ ranking }}º
        {% endif %}
        <strong>{{ employee }}</strong> {{ employee.occupation }}
      </h4>
      {% include 'tcc/widgets/_user_overall_bar.html' with employee=employee %}
    </div>
  </div>
</div>
