{% extends "tcc/base_site.html" %}
{% load i18n tcc rules %}
{% block content_classes %}{% endblock %}
{% block content %}
<div class="container">
  {% test_rule 'can_give_team_member_feedback' user team as can_give_peer_feedback %}
  {% if can_give_peer_feedback %}
    {% if team|is_missing_questionnaire:user %}
      <div class="alert alert-danger">
        <p>
          <img class="img-md m-r-10" src="https://cdn0.iconfinder.com/data/icons/smile-emoticons/78/smyle_emoticons-01-512.png">
          <strong>{% trans 'We want to hear you!' %}</strong> {% blocktrans %}We haven't received your your thoughts this team this week yet.{% endblocktrans %}<a href="{% url 'team_members_questionnaire' team.id %}">{% trans 'Click here' %}</a> {% trans 'and answer it right now!' %}
        </p>
      </div>
    {% endif %}
  {% endif %}
    <div class="panel panel-transparent">
      <div class="panel-content">
        <div class="row">
  <div class="col-md-4 m-b-30">
    {% include 'tcc/views/team/_team_info.html' %}
  </div>
  <div class="col-md-8 m-b-30">
    <h3><strong>{% trans 'Members' %}</strong></h3>
    <div class="row">
      <div class="col-xs-12">
        {% for member in team.members.all %}
          {% include 'tcc/widgets/_user.html' with employee=member %}
        {% endfor %}
      </div>
    </div>
  </div>
</div></div></div></div>
{% endblock %}
