{% load i18n utils %}
{% csrf_token %}

{% block questionnaire_form %}
<div class="form-group" style="width:300px; margin: 0 auto; text-align: center">
  {{ form.targets }}
  {% if form.targets.errors %}
      {% for error in form.targets.errors %}
        <div class="text-center form-error">{{ error|escape }}</div>
      {% endfor %}
  {% endif %}
</div>
{% endblock %}

{{ inlines.0.management_form }}
{% for form in inlines.0 %}
  {{ form.errors }}
  <div class="form-group text-center">
    <h3><strong>{{forloop.counter}}.</strong> {% with hash=view.questions|get_at_index:forloop.counter0 %} {{ hash.question }} {% endwith %}</h3>
    <div style="width:300px; margin: 0 auto;" class="primary m-b-20">
      {{ form.value }}
    </div>
  </div>
{% endfor %}

<input type="submit" class="btn btn-success" value="{% trans 'Send questionnaire' %}">
